# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.venv/

# Log files
logs/
*.log

# IDE / Editor specific files
.vscode/
.idea/

# Sensible config - WICHTIG!
# die eigentliche config.py ignorieren.
config.py

# Ignore Data directory - userdata and output files
Daten/

# macOS spfecific files
.DS_Store